
{% extends "pro1/base.html"%}
{% block content %}

	{% for i in syntages %}
		<a href="recipe/{{ i.id }}"><h3 style="color: red;">Meal : {{i.food_name}}</h3></a>
		<h4>Category : {{i.category}}</h4>
		<a href="profile/{{ i.maker.id }}"><h5>Maker : {{i.maker}}</h5></a>

	{% endfor %}
		{% if user.is_authenticated %}
		<a href="{% url 'recipe-new' %}"><button>Add new recipe</button></a>
		{% else %}
		<a href="{% url 'login' %}"><button>Login to upload your recipe</button></a>	
		{% endif %}
{%endblock content %}