
{% load crispy_forms_tags %}
{% block comments %}

		{% if user.is_authenticated %}
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Add comment :</legend>
					{{form|crispy}}
				
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Add comment</button>
		</form>
		 {% else %}
		 	
		 	<center></br></br><a href="{% url 'login' %}"><button class="btn btn-outline-secondary" >Login to comment
		 	</button></a></center></br></br>
		 {% endif %}	

		
		{% if comments %}
			<h3>Comments :</h3>
			{% for x in comments %}
				</br>
				<div class="row border comment">
					
						<img src="{{x.commenter.profile.image.url}}" class=" comm_img img-fluid" alt="lay" >
						<a href="{%	url 'profile-view' x.commenter.id	%}"><p class="secondary ">  &ensp; {{ x.commenter }}</a> : {{x.comment}}</p>
				
				</div>
			
			
		{% endfor %}
		{% endif %}

	
{% endblock comments %}