
{% load crispy_forms_tags %}
{% block comments %}
		{% if user.is_authenticated %}
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Add comment :</legend>
					{{form|crispy}}
				
			</fieldset>
			<div class="form-group">
				<a href=""><button class="btn btn-outline-info" type="submit">Add comment</button></a>
			</div>
		</form>
		 {% else %}
		 	<a href="{% url 'login' %}"><button>Login to comment</button></a>
		 {% endif %}	

		
		{% if comments %}
			<h3>Comments :</h3>
			{% for x in comments %}
				</br>
				<div class="row border comment">
					
						<img src="{{x.commenter.profile.image.url}}" class=" comm_img img-fluid" alt="lay" >
						<p class="secondary ">  &ensp; {{ x.commenter }} : {{x.comment}}</p></li>	
				
				</div>
			
			
		{% endfor %}
		{% endif %}

	
{% endblock comments %}