{% extends "pro1/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
	
	

	
		<h3 style="color: red;">Meal : {{ object.food_name }}</h3>
		

		<h4>Category : {{ object.category }}</h4>
		<a href="{% url 'profile-view' object.maker.id%}"><h5>Maker : {{ object.maker }}</h5></a>
		<h5>Ingridients :</h5>
		
		<p>{{ object.ingridients|linebreaks }}</p>
		<h5>instructions :</h5>		
		 <p>{{ object.content|linebreaks}}</p>
		<img class="img in_recipe" src="{{ object.image.url  }}">	
		
		{% block comments %}
			{% include "pro1/comment.html" %}

		{% endblock comments %}
{%endblock content %}