{% extends "pro1/base.html"%}
{% load crispy_forms_tags %}

{% block content %}
        {% if object.maker == request.user %}
        <div class="form">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Recipe</legend>
                <h2>Are you sure you want to delete this recipe ? "{{ object.title }}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'recipe-detail' object.id %}">Cancel</a>
            </div>
        </form>
    </div>
    {% else %}
    <h1>You must be the owner of the post to delete it !</h1>
    {% endif %}

{% endblock content	%}