{% extends "pro1/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
	{% if user.is_authenticated %}
		<h1>You must log out first to login with different account !</h1>
		<a href="{% url 'logout' %}"><button class="btn btn-outline-secondary"> Logout</button>
	{% else %}

	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Login :</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Sign in</button>
			</div>
		</form>
		{% endif %}
{% endblock content %}